#run-button {
  height: 10vmin;
  width: 80vmin;
  margin: 10vmin auto;
  display: block;
  background-color: rgb(255, 100, 100);
}

#run-button:hover {
  background-color: rgb(255, 100, 100);
  cursor: pointer;
}

#run-button:active {
  background-color: rgb(255, 0, 0);
}
}